/* body {
    margin: 0;

    font-family: 'Raleway', sans-serif;

    -webkit-font-smoothing: antialiased;
    background-color: #fff;
}

*, 
*::before,
*::after {
    box-sizing: border-box;
} */


/* Container*/
.container {
    width: 100%;
    margin: 0 auto;
    max-width: var(--breakpoint-desktop);
}

/*HERO*/
.hero {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

.hero_inner {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.hero_item {
    height: 80px;
    border: 1px solid #EDEEF2;
    border-radius: 16px;
    /* box-shadow:  0 0  1px rgba(0, 0, 0, 0.5); */
    background: #FFFFFF;

    text-align: center;
}

.hero_item:hover {
    border: 1px solid #697Bff;
    cursor: pointer;
    background-color: #EDEEF2;
}

.hero_img {
    margin: 10px 0;
    width: 24px;
    height: 24px;
}

.hero_name {
    color: #545563;
    font-style: 13px;
    font-weight: 700;
    color: #545563;
    font-family: 'Nunito',sans-serif;
    font-style: normal;
    line-height: 18px;
    letter-spacing: 0.1px;

    /* transition: color 1s linear; */
}

.hero_name:hover {
    color: #697BFF;
}